*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo);
    padding: 2%;
}

@media screen and (max-width: 1000px) {
    body{
        padding: 1%;
    }
    
}

:root {
  --color-primario: #fff6b0;
  --color-secundario: #8c5938;
  --color-texto: #333;
  --color-texto-secundario: #fffcf0;
  --color-fondo: #e4a96f;
  --color-acierto: #4caf50;
  --color-error: #f01d1d ;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3{
    font-family: "Bangers", system-ui;
    font-weight: 500;
    font-style: bold;
    color: var(--color-texto);
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 2.5rem;
}

@media screen and (max-width: 1920px) {
    h1{
        font-size: 5.5rem;
    }

    h3{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 800px) {
    h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 650px) {
    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
    }
}

a, p, h4, input, .btn, .cronologia{
    font-family: "Bangers", system-ui;
    font-weight: 100;
    font-style: normal;
    color: var(--color-texto);
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

/*BOTONES*/
.btn{
    background-color: var(--color-primario);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 0 var(--color-fondo);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.btn:hover{
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 var(--color-fondo);
}

/*HEADER*/
/*NAVBAR_LANDING*/
nav.navbar{
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:
        linear-gradient(
        to right,
        var(--color-primario) 0%,
        var(--color-primario) 60%,
        rgba(228, 169, 111, 0.8) 65%,
        rgba(228, 169, 111, 0) 70%
        ),
        url('../img/assets/arena.png') no-repeat right center;
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    background-position: 0 0, right center;
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/*Logo*/
nav.navbar>a>img{
    width: 300px;
    filter: drop-shadow(6px 6px 0 #3a2e2a);
}

@media screen and (max-width: 1000px) {
    nav.navbar>a>img{
        width: 200px;
    }
    
}

/*BOTON Login Sigin*/
nav.navbar>div.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar>div.menu>a.btn{
    font-size: 2rem;
}

@media screen and (max-width: 1400px) {
    nav.navbar>div.menu{
        width: 25%;
    }

    nav.navbar>div.menu>a.btn{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {
    nav.navbar>div.menu>a.btn{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    nav.navbar>div.menu{
        width: 30%;
    }

    nav.navbar>div.menu>a.btn{
        font-size: 1rem;
    }
}

/*NAVBAR_HOME*/
nav.navbar_home{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-primario);
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    padding: 2% 5%;
    z-index: 99;
}

nav.navbar_home>div.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MAIN*/
main{
    margin: 5%;
    background-color: #fff6b0;
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

main:has(.admin){
    width: 80%;
}

main:has(.ranking){
    width: 80%;
}

@media screen and (max-width: 1400px) {
    main{
        margin: 2%;
    }

}

@media screen and (max-width: 1000px) {
    main{
        margin: 2% 0;
    }

}

/*Banner*/
section.banner{
    background: url('../img/assets/arena.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.banner>div{
    background-color: rgba(0, 0, 0, 0.39);
    height: 80%;
    width: 80%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
}

@media screen and (max-width: 1400px) {
    section.banner{
        height: 60vh;
    }

    section.banner>div{
        width: 100%;
    }
}

section.banner>div>h1, section.banner>div>p{
    color: var(--color-texto-secundario);
}

section.banner>div>h1, section.banner>div>a.btn{
    margin-top: 2%;
}

/*Apariencias*/
section.apariencia{
    width: 80%;
    margin: 6% auto;
    height: 60vh;
    gap: 5%;
}

section.apariencia>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

section.apariencia>h2{
    text-align: center;
    margin-bottom: 4%;
}

@media screen and (max-width: 1400px) {
    section.apariencia{
        height: auto;
        width: 90%;
    }

    section.apariencia>h2{
        margin-bottom: 0;
    }

    section.apariencia>div{
        flex-direction: column;
        gap: 2%;
    }
}

/*Carrusel*/
section.apariencia>div>div.carrusel{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section.apariencia>div>div.carrusel>div.imagenes{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/*Flechas*/
section.apariencia>div>div.carrusel>button.siguiente, section.apariencia>div>div.carrusel>button.anterior{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    color: var(--color-texto);
    transition: all 0.3s ease-in-out;
}

section.apariencia>div>div.carrusel>button.siguiente{
    right: 20px;
}

section.apariencia>div>div.carrusel>button.anterior{
    left: 0px;
}

section.apariencia>div>div.carrusel>button.anterior:hover, section.apariencia>div>div.carrusel>button.siguiente:hover{
    transform: scale(1.2) translateY(-50%);
}

/*Imagenes*/
section.apariencia>div>div.carrusel>div.imagenes>img{
    width: 100%;
    height: 100%
}

@media screen and (max-width: 1000px) {
    section.apariencia>div>div.carrusel{
        width: 80%;
    }
    
}

/*Texto*/
section.apariencia>div>div.texto{
    width: 100%;
    color: var(--color-texto-secundario);
}

section.apariencia>div>div.texto>p{
    text-align: justify;
    margin-top: 5%;
}

@media screen and (max-width: 1400px) {
    section.apariencia>div>div.carrusel{
        order: 2;
    }
    section.apariencia>div>div.texto{
        order: 1;
        width: 100%;
        margin-bottom: 5%;
    }

    section.apariencia>div>div.texto>p{
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    section.apariencia>div>div.texto>p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 800px) {
    section.apariencia>div>div.texto>p{
        text-align: justify;
    }
}

/*COMBATE*/
section.combate{
    width: 80%;
    margin: 8% auto;
}

section.combate>h2{
    text-align: center;
    margin-bottom: 2%;
}

section.combate>div{
    display: flex;
    justify-content: center;
}

section.combate>div>div{
    width: 100%;
}

section.combate>div>div>h3{
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
}

section.combate>div>div>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

section.combate>div>div>div>div{
    position: relative;
}

section.combate>div>div>div>div>div.modal{
    position: absolute;
    z-index: 99;
    background-color: var(--color-primario);
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    padding: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
}

div.modal>h4{
    white-space: nowrap;
}

div.modal>p{
    white-space: nowrap;
    color: #4caf50;
}

@media screen and (max-width: 1400px) {
    section.combate{
        width: 90%;
    }
    section.combate>div{
        flex-direction: column;
    }

    section.combate>div>div{
        width: 50%;
        margin: 2% auto;
    }
}

@media screen and (max-width: 1000px) {
    section.combate>div>div{
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    section.combate{
        margin-top: 20%;
    }
    section.combate>div>div{
        width: 100%;
        margin: 2% 0;
    }
}

/*MASCOTAS*/
section.mascotas{
    width: 80%;
    margin: 6% auto;
}

section.mascotas>h2{
    text-align: center;
    margin-bottom: 2%;
}

section.mascotas>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

section.mascotas>div>div{
    width: 100%;
}

@media screen and (max-width: 1400px) {
    section.mascotas{
        width: 90%;
    }

    section.mascotas>div{
        flex-direction: column;
    }
    section.mascotas>div>p{
        text-align: center;
    }

    section.mascotas>div>div{
        width: 100%;
        margin: 2% 0;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media screen and (max-width: 600px) {
    section.mascotas{
        margin-top: 20%;
    }
    section.mascotas>div>div{
        flex-direction: column;
        align-items: center;
    }
}

/*FORM*/
body:has(.form){
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form{
    width: 50%;
    padding: 2%;
    background-color: var(--color-primario);
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.form>input, form.form>div{
    width: 100%;
    margin: 2% 0;
}

form.form>input:not([type="submit"]){
    border: none;
    padding: 2%;
    border: solid 6px var(--color-secundario);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

form.form>input:not([type="submit"]):focus{
    outline: none;
}

form.form>input[type="submit"]{
    border: none;
}

form.form>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    form.form{
        width: 80%;
    } 
}

@media screen and (max-width: 500px) {
    form.form{
        width: 90%;
    } 
}

/*CREAR_BRUTO*/
body:has(section.crear_bruto){
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.crear_bruto{
    width: 80%;
    margin: 6% auto;
    display: flex;
    justify-content: center;
}

section.crear_bruto>form{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

div.apariencia>div.carrusel{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

div.apariencia>div.carrusel>div.imagenes{
    display: flex;
    transition: transform 0.5s ease-in-out;
}


/*Flechas*/
div.apariencia>div.carrusel>button.siguiente, div.apariencia>div.carrusel>button.anterior{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    color: var(--color-texto);
    transition: all 0.3s ease-in-out;
}

div.apariencia>div.carrusel>button.siguiente{
    right: 20px;
}

div.apariencia>div.carrusel>button.anterior{
    left: 0px;
}

div.apariencia>div.carrusel>button.anterior:hover, div.apariencia>div.carrusel>button.siguiente:hover{
    transform: scale(1.2) translateY(-50%);
}

/*Imagenes*/
div.apariencia>div.carrusel>div.imagenes>img{
    width: 100%;
    height: 100%
}

/*HOME*/
section.brutos{
    padding: 2%;
    margin: auto;
}

section.brutos>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}


section.brutos>div:has(button){
    justify-content: start;
}

section.brutos>div>div{
    width: 25%;
    text-align: center;
    border: solid 6px var(--color-primario);
    transition: all 0.3s ease-in-out;
}

section.brutos>div>div:not(:has(button)):hover{
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

section.brutos>div>div>img{
    width: 100%;
}

section.brutos>div>div>p{
    font-size: 2rem;
    margin-top: 2%;
}

section.brutos>div>div:has(button){
    margin-left: 5%;
    width: 60px;
    height: 60px;
    padding: 1%;
    background-color: var(--color-secundario);
    border: none;
    border-radius: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}


section.brutos>div>div>button{ 
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-texto-secundario);
}

@media screen and (max-width: 1000px) {
    section.brutos>div{
        flex-direction: column;
    }
    section.brutos>div>div{
        margin: 1% 0;
    }

    section.brutos>div>div>p{
        font-size: 1.5rem;
    }
}

/*INVENTARIO*/
div.inventario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    padding: 2%;
}

div.inventario>div.herramientas_habilidades{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.inventario>div.herramientas_habilidades>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

div.inventario>div.combate{
    width: 30%;
}

div.inventario>div.personajes{
    width: 30%;
}

div.herramientas_habilidades>div.habilidades{
    margin-bottom: 10%;
}

div.herramientas_habilidades>div.habilidades>div{
    position: relative;
}

div.herramientas_habilidades>div.habilidades>div>div.modal{
    position: absolute;
    z-index: 99;
    background-color: var(--color-primario);
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    padding: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
}

div.herramientas_habilidades>div.habilidades>div>div.modal>h4{
    white-space: nowrap;
}

div.herramientas_habilidades>div.habilidades>div>img{
    cursor: pointer;
    width: 60px;
}


div.herramientas_habilidades>div.herramientas>div>img.opc{
    opacity: 0.4;
}

div.herramientas_habilidades>div.habilidades>div>img.opc{
    opacity: 0.4;
}

div.herramientas_habilidades>div.herramientas>div>img{
    cursor: pointer;
    width: 80px;
}

div.herramientas_habilidades>div.herramientas{
    background: url("../img/assets/tablero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

div.herramientas_habilidades>div.herramientas>div{
    position: relative;
}

div.herramientas_habilidades>div.herramientas>div>div.modal{
    position: absolute;
    z-index: 99;
    background-color: var(--color-primario);
    border: solid 6px var(--color-secundario);
    border-radius: 5px;
    padding: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
}

div.herramientas_habilidades>div.herramientas>div>div.modal>h4{
    white-space: nowrap;
}

div.personajes>div.personaje>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.personajes>div.personaje>div>img{
    width: 250px;
    margin-bottom: 4%;
}

div.personajes>div.animales{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.personajes>div.animales>img{
    width: 150px;
    margin-bottom: 4%;
}

div.combate{
    text-align: center;
}

div.combate>button{
    border: none;
    margin-bottom: 2%;
}

@media screen and (max-width: 1400px) {
    div.inventario{
        flex-direction: column;
        padding-bottom: 10%;
    }
    div.inventario>div.herramientas_habilidades{
        width: 90%;
        order: 3;
    }
    div.inventario>div.combate{
        width: 90%;
        order: 2;
        margin: 10% 0;
    }
    div.inventario>div.personajes{
        width: 90%;
        order: 1;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media screen and (max-width: 600px) {
    div.inventario{
        padding-bottom: 20%;
    }

}

/*BUSCADOR*/
section.brutos>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

/*ARENA*/
body:has(.fondo){
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

main:has(.fondo){
    padding: 0;
    margin: 0;
    border: 0;
}   

body:has(.navbar_home){
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.fondo{
    position: relative;
    background: url("../img/assets/arena.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1920px;
    height: 1080px;
    margin: auto;
    overflow: hidden;
    padding: 6% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1920px) {
    section.fondo{
        width: 100%;
        height: calc(100vw * 9 / 16);
    }
    
}

section.fondo>div.marcadores{
    position: absolute;
    top: 0;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section.fondo>div.marcadores>div.vida1, section.fondo>div.marcadores>div.vida2{
  width: 40%;
  height: 50px;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 6px;
  padding: 2px;
  box-sizing: border-box;
}

section.fondo>div.marcadores>div.vida1>div.barra_vida1, section.fondo>div.marcadores>div.vida2>div.barra_vida2{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #00c853, #64dd17);
  border-radius: 4px;
  transition: width 0.3s ease, background 0.3s ease;
}

section.fondo>div.peleadores{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.fondo>div.peleadores>div.bruto1{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: end;
}

section.fondo>div.peleadores>div.bruto2{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

section.fondo>div.peleadores>div>img.bruto{
    width: 100%;
    z-index: 997;
}

section.fondo>div.peleadores>div>img.Lobo{
    width: 50%;
    z-index: 998;
}

section.fondo>div.peleadores>div>img.Perro{
    width: 40%;
    z-index: 998;
}

section.fondo>div.peleadores>div>img.Oso{
    width: 100%;
    z-index: 996;
}

section.fondo>div.peleadores>div>img.armado{
    z-index: 999;
}

section.fondo>div.peleadores>div.bruto1>img.bruto{
    width: 100%;
    transform: scaleX(-1);
    position: relative;
}

section.fondo>div.peleadores>div.bruto1>img.Lobo{
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
}

section.fondo>div.peleadores>div.bruto1>img.Oso{
    position: absolute;
    bottom: 0;
    left: -50%;
}

section.fondo>div.peleadores>div.bruto1>img.Perro{
    position: absolute;
    bottom: 0;
    right: 0;
}

section.fondo>div.peleadores>div.bruto2>img.bruto{
    width: 100%;
    position: relative;
}

section.fondo>div.peleadores>div.bruto2>img.Lobo{
    position: absolute;
    bottom: 0;
    left: 0;
}

section.fondo>div.peleadores>div.bruto2>img.Oso{
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: -50%;
}

section.fondo>div.peleadores>div.bruto2>img.Perro{
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0;
}

section.fondo>div.peleadores>div>img.armado{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

section.fondo>div.peleadores>div.bruto2>img.armado{
    left: 0;
}

section.fondo>div.peleadores>div>img.Cuchillo{
    width: 40%;
}

section.fondo>div.peleadores>div>img.Espadon{
    width: 50%;
}

section.fondo>div.peleadores>div>img.Cimitarra{
    width: 55%;
}

section.fondo>div.peleadores>div>img.Sai{
    width: 40%;

}

section.fondo>div.peleadores>div>img.Hueso{
    width: 40%;
    
}

section.fondo>div.peleadores>div>img.Maza{
    width: 40%;
}

section.fondo>div.peleadores>div>img.Hacha{
    width: 60%;
}

section.fondo>div.peleadores>div.bruto1>img.Cuchillo{
    transform: translateY(-60%) rotate(-20deg);
}

section.fondo>div.peleadores>div.bruto1>img.Cimitarra{
    right: -5%;
}

section.fondo>div.peleadores>div.bruto1>img.Sai{
    transform: translateY(-80%) rotate(-45deg);
}

section.fondo>div.peleadores>div.bruto1>img.Hueso{
    transform: translateY(-60%) rotate(190deg);
}

section.fondo>div.peleadores>div.bruto1>img.Maza{
    transform: translateY(-70%) rotate(20deg);
}

section.fondo>div.peleadores>div.bruto1>img.Hacha{
    transform: translate(20% , -60%) rotate(-45deg);
}

section.fondo>div.peleadores>div.bruto2>img.Cuchillo{
    transform: translateY(-60%) scaleX(-1) rotate(-20deg);
}

section.fondo>div.peleadores>div.bruto2>img.Espadon{
    transform: scaleX(-1) translateY(-50%);
}

section.fondo>div.peleadores>div.bruto2>img.Cimitarra{
    left: -5%;
    transform: translateY(-60%) scaleX(-1);
}

section.fondo>div.peleadores>div.bruto2>img.Sai{
    transform: translateY(-80%) scaleX(-1) rotate(-45deg);
}

section.fondo>div.peleadores>div.bruto2>img.Hueso{
    transform: translateY(-60%) scaleX(-1) rotate(190deg);
}

section.fondo>div.peleadores>div.bruto2>img.Maza{
    transform: translateY(-70%) scaleX(-1) rotate(20deg);
}

section.fondo>div.peleadores>div.bruto2>img.Hacha{
    transform: translate(-20% , -60%) scaleX(-1) rotate(-45deg);
}



section.fondo>div.peleadores>div>h2{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-texto-secundario);
    background-color: rgb(0, 0, 0, 0.39);
    padding: 5%;
    border-radius: 6px;
    font-size: 50px;
}

section.fondo>div.peleadores>div{
    position: relative;
}

section.fondo>div.peleadores>div>img.ataque{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

section.fondo>div.cronologia{
    position: absolute;
    top: 20%;
    background-color: var(--color-texto);
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.39);
}

section.fondo>div.cronologia>p{
    color: var(--color-texto-secundario);
}

.daño {
  animation: efecto-daño 0.2s ease-in-out;
}

@keyframes efecto-daño {
  0%   { filter: brightness(1.5) saturate(2) hue-rotate(-30deg); }
  50%  { filter: none; }
  100% { filter: brightness(1.5) saturate(2) hue-rotate(-30deg); }
}

/*RANKING*/
section.ranking{
    width: 100%;
}

section.ranking>h2{
    text-align: center;
    margin-bottom: 2%;
}

section.ranking>div{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

section.ranking>div>div{
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1% 0;
    border: solid 5px var(--color-secundario);
    border-radius: 6px;
    padding: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

section.ranking>div>div>img{
    width: 100px;
}

@media screen and (max-width: 1400px) {

    section.ranking{
        padding-bottom: 10%;
    }

    section.ranking>div>div{
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {

    section.ranking{
        padding-bottom: 10%;
    }

    section.ranking>div>div{
        width: 100%;
    }
}

/*ADMIN*/
section.admin{
    width: 100%;
    min-height: 50vh;
    text-align: center;
    padding: 2%;
}

section.admin>div.buscador{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

section.admin>div.buscador>.btn{
    border:none;
}

section.admin>div.buscador>form.form_admin>select{
    padding: 5% 10%;
    border: solid 5px var(--color-secundario);
    border-radius: 6px;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: 1.2em;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
}

section.admin>div.buscador>form.form_admin>select:focus{
    outline: none;
}

section.admin>div.tabla{
    width: 100%;
    margin-top: 2%;
    overflow-x: auto;
}

section.admin>div.tabla>table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

section.admin>div.tabla>table>tr{
    height: 50px;
}

section.admin>div.tabla>table>tr:not(:first-child):hover{
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

section.admin>div.tabla>table>tr:not(:first-child):hover>button{
    color: var(--color-primario);
    border: solid 1px var(--color-primario);
}

section.admin>div.tabla>table>tr>td{
    padding: 0 4%;
    min-width: 50px;
    text-align: center;
}

section.admin>div.tabla>table>tr>button{
    width: 50%;
    min-width: 100px;
    height: 50px;
    padding: 2%;
    background-color: transparent;
    cursor: pointer;
    border: solid 1px var(--color-secundario);
    color: var(--color-secundario);
    font-size: 1.2em
}

section.admin>div.tabla>table>tr:nth-child(2n){
    background-color: var(--color-fondo);
    color: #fff6b0;
}

section.admin>div.tabla>table>tr:nth-child(2n)>button{
    color: #fff6b0;
}

section.admin>form.form_admin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    background-color: var(--color-primario);
    padding: 2%;
    border: solid 5px var(--color-secundario);
    border-radius: 6px;
}

section.admin>form.form_admin>button.cerrar{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

section.admin>form.form_admin>input:not(input[type="submit"]){
    width: 100%;
    background-color: var(--color-primario);
    border: solid 5px var(--color-secundario);
    border-radius: 6px;
    padding: 2% 5%;
    margin: 2% 0;
    margin-bottom: 5%;
    color: var(--color-texto);
    font-size: 1.2em;
}

section.admin>form.form_admin>select{
    background-color: var(--color-primario);
    border: solid 5px var(--color-secundario);
    border-radius: 6px;
    padding: 2% 5%;
    margin: 2% 0;
    margin-bottom: 5%;
    color: var(--color-texto);
    width: 100%;
    font-size: 1.2em;
}

section.admin>form.form_admin>input:not(input[type="submit"]):focus{
    outline: none;
}

section.admin>form.form_admin>input[type="submit"]{ 
    border: none;
}

@media screen and (max-width: 700px) {
    section.admin>div.buscador{
        width: 100%;
        justify-content: space-between;
    }
    section.admin>div.buscador>form.form_admin>select{
        transform: translateX(0);
    }
}